@charset "UTF-8";

@media screen and (min-width:600px) and (max-width: 992px) {

    header {
        background-color: var(--cor1);
        color: black;
        padding-left: 10px;
        font-size: 1.1em;
        display: flex;
    }

    header > span {
        padding-left: 0px;
        flex: auto;        
}

    div.ecocardiografia {
    text-align: center;
}

}

@media screen and (min-width:992px) and (max-width: 1200px) {
    header{
        background-color: var(--cor1);
        color: black;
        padding-left: 10px;
        font-size: 1.1em;
        display: flex;
    }

    header > span {
        padding-left: 0px;
        flex: auto;
    }


}

@media screen and (min-width:1200px) {
    header{
        background-color: var(--cor1);
        color: black;
        padding-left: 10px;
        font-size: 1.1em;
        display: flex;
    }

    header > span {
        flex: auto;
        text-align: left;
        padding-left: 150px;
    }

}