@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --cor0: #C5EBD6;
    --cor1: #ffa99e19;
    --cor2: #ffcE0e;
    --cor3: #F497C3;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Dancing Script", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    background-color: var(--cor1);
}

header{
    background-color: var(--cor1);
    color: black;
    padding-left: 10px;
    text-align: center;
    font-size: 1em;
    display: grid;
}

header span.material-symbols-outlined {
    font-size: 1em;
}


header a {
    text-decoration: none;
    color: black;
}

main {
    background-color: var(--cor1);
    background-image: url(imagens/wallpaper/wallpaper001.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
}

main h1 {
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
}

main h2 {
    text-align: center;
    font-size: 0.8em;
}

main h3 {
    text-align: center;
}

div.ecocardiografia {
    display: block;
    text-align: center;
    height: 30vh;
}


footer{
    background-color: var(--cor1);
    color: black;
    text-align: center;
    position: relative;
    font-size: 1em;
}

footer > p > a {
    text-decoration: none;
    color: black;
}

footer iframe{
    height: 30vh;
}