@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --cor0: #C5EBD6;
    --cor1: #FFA99E;
    --cor2: #ffcE0e;
    --cor3: #F497C3;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Dancing Script", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html{
    height: 100vh;
    background-color: var(--cor0);
}

header{
    background-color: black;
    color: white;
    padding-left: 10px;
    text-align: center;
}

header span{
    text-align: center;
}

header span#call{
    text-align: center;
    display: block;
}

header span.material-symbols-outlined {
    font-size: 1em;
}


header a {
    text-decoration: none;
    color: white;
}

main {
    background-color: var(--cor1);
    background-image: url(imagens/wallpaper/wallpaper003.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
}

main h1 {
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
}

main h2 {
    text-align: center;
    font-size: 1em;
}

main h3{
    text-align: center;
    margin-top: 50px;
}

main ul {
    padding: 20px;
    margin-left: 60px;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
}

footer iframe{
    height: 30vh;
}